/* resources/css/app.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

/* Then include Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, .playfair {
    font-family: 'Playfair Display SC', serif;
}

.ephesis {
    font-family: 'Ephesis', cursive;
}

input[type="date"].custom-date {
    color: black;
    background: transparent;
    background-color: white;
    opacity: 0.5;
}